@import "settings";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/clearing";
@import "foundation/components/type";
@import "compass/css3";
// @import "reset";
$textColor: white;
$linkColor: #1BFF98;
$iconColor: #1BFF98;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html {
	background: url("../images/background.jpg");
	background-position: top;
	background-attachment: fixed;
	height: auto;
}

body {
	margin: 80px 0;
	background-color: transparent;
}

.container {
	background-color: rgba(#082C22, 0.8);
	box-shadow: 0 0 50px rgba(black, 0.5);
}

.row {
	min-width: 90%;
	border-radius: 10px;
}

.no-pad {
	margin: 0px;
	padding: 0px;
}

.columns {
	// margin: 0px;
	// padding: 0px;
	// border: 1px solid red;
}

.sidebar {
	h1 {
		color: black;
		font-weight: bold;
		padding: 5px 0px;
		text-shadow: 0px 0px 8px $linkColor;
	}
	table {
		width: 100%;
		padding-top:5px;
		h4 {
			font-weight: bolder;
			letter-spacing: 1px;
			padding: 0px;
			margin: 0px;
		}
		tr {
			td {
				padding: 3px 20px;
				a {
					font-size: 20px;
					color: white;
				}
				a:hover {
					color: $linkColor;
				}
				@include single-transition(border,
					0.3s,
					ease-in-out);
			}
			td:hover {
				border-left: 15px solid $linkColor;
				border-right: 15px solid $linkColor;
			}
		}
	}
}

.search {
	padding: 15px;
	table {
		margin-left: 10px;
		tr td:nth-child(2) {
			width: 90%;
		}
	}
	i {
		font-size: 35px;
		color: $iconColor;
	}
	input {
		width: 100%;
		border: none;
		background: transparent;
		margin: 0px;
		color: $linkColor;
		height: 45px;
		font-size: 19px;
		text-transform: capitalize;
		letter-spacing: 1x;
		padding: 0 10px;
		@include input-placeholder {
			color: $linkColor;
			font-style: italic;
		}
	}
	input:focus {
		//			box-shadow: 0px 0px 10px $linkColor;
		border-bottom: 2px solid rgba($linkColor, 0.7);
		outline: none;
	}
}

.top-link {
	ul {
		margin: 0px;
		li {
			padding: 22px 20px;
			a {
				font-size: 20px;
				color: $linkColor;
			}
		}
	}
}
.movie {
	margin-top: 20px;
	ul li img:hover{
		border:1px solid $linkColor; 
		@include transform(scale(1.03));
		@include single-transition(transform,0.3s,ease-in-out);
	}
	h4{
		text-shadow: 0px 0px 5px $linkColor;
	}	
} 
.tooltip {
	display:none;
	position:absolute;
	border:1px solid $linkColor;
	background-color:white;
	border-radius:5px;
	padding:10px;
	max-width: 500px;
	color:black;
	box-shadow: 5px 5px 50px darken(gray, 50%);
	h4{
		color: black;
	}
}
@media only screen and (max-width: 50em) {}