@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/clearing";
@import "foundation/components/type";
@import "reset";
@import "settings";
@import "compass/css3";
@import "normalize";

$textColor : white;
$linkColor : #1BFF98;
$iconColor : #1BFF98;


html {
	background: url("../images/background.jpg");
	font-family: "Roboto",serif;
	height: auto;
}
body{
	margin-top: 5%;
	background-color: transparent;
}
.container{
	background-color: rgba(#082C22,0.8);
}
.row {
	min-width: 90%;
	border-radius: 10px;
}

.columns {
	border: 1px solid red;
	padding: 0px;
	margin: 0px;
}

hr {
	background-color: yellow;
	height: 2px;
}
.sidebar{
	h1{
		color: white;
		font-family: "Roboto",serif;
		text-shadow: 1px 1px 8px blue;
	}
}
.info{
	h3{
		color: white;
	}
	.search{
		background-color: black;
		padding: 10px;
		table{
			background: transparent;
			margin-left: 10px;
			tr td{
				vertical-align: middle;
				background: transparent;
				padding: 0px;
				margin: 0px;
			}	
		} 
		i{
			font-size: 35px;
			color: $iconColor;
		}
		input{
			border: none;
			background: transparent;
			margin: 0px;
			color: $linkColor;
			height: 45px;
			font-size: 19px;
			letter-spacing: 1x;
			padding: 0 10px;
			@include transition-property(box-shadow,border);
			@include transition-duration(2s);
			@include transition-timing-function(ease);
			@include input-placeholder{
				color:$linkColor;
				line-height:25px;
			}
		}
		input:focus{
			box-shadow: 0px 0px 10px $linkColor;
			border: 1px solid rgba($linkColor,0.7);
			outline: none;
		}
	}
}

@media only screen and (max-width: 50em) {
	img {
		padding: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
