<!DOCTYPE html>
<html ng-app="movieApp">
<head>
	<title>Movie App</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html, charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="Author" content="Alex Gomes, alex.09hg@gmail.com, http://www.alexgomes.tk"/>
	<meta name="copyright" content="Alex Gomes, http://www.alexgomes.tk"/>
	<meta name="Keywords" content="Movie App, Web App, Moviez, Popular Movie, Angular App"/>
	<meta name="Description" content="A movie app that was created in 2015 by Alex Gomes. He used themoviedb.com as dataset and AngularJS as front-end platform"/>
	<meta name="robots" content="all">

	<!--<link href='stylesheets/foundation.min.css' rel='stylesheet' type='text/css'>-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:900,300,700,400' rel='stylesheet' type='text/css'>
	<!-- <link href="stylesheets/reset.min.css" media="screen, projection" rel="stylesheet" type="text/css" />-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/fontello.css">
	<link href="../stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body class="ng-cloak">
	<div class="row collapse container">
		<div class="medium-12 columns">
			<div class="medium-2 columns sidebar" ng-controller="SidebarController">
				<h1 class="text-center">Moviez</h1>
				<table>
					<tr ng-repeat="genre in movieGenres">
						<td>
							<a ng-href="#/{{genre.name}}">{{genre.name}}</a>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="medium-10 columns no-pad">
				<div class="row collapse">
					<div class="medium-5 columns search">
						<table class="medium-centered">
							<tr>
								<td>
									<i class="icon-search"></i>
								</td>
								<td>
									<input class="medium-right" type="text" placeholder="Search Movies">
								</td>
							</tr>
						</table>
					</div>
					<div class="medium-7 columns top-link">
						<ul class="small-block-grid-2 small-text-center medium-block-grid-4">
							<li>
								<a href="#/popular">Popular</a>
							</li>
							<li>
								<a ng-href="#/top_rated/">Top Rated</a>
							</li>
							<li>
								<a href="#/upcoming/">Upcoming</a>
							</li>
							<li>
								<a href="#/now_playing/">Now Playing</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row collapsed">
					<div ng-view=""></div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/lib/jquery.min.js"></script>
	<script src="../js/lib/angular.js"></script>
	<script src="../js/lib/angular-route.min.js"></script>
	<script src="../js/lib/modernizr.min.js"></script>
	<script src="../js/lib/themoviedb.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/factory/movie_service.js"></script>
	<script src="../js/controller/sidebar_controller.js"></script>
	<script src="../js/controller/info_controller.js"></script>
	<script src="../js/controller/single_view_controller.js"></script>
	<script src="../js/main.js"></script>
</body>

</html>