<div class="medium-12 columns movie">

	<div class="medium-4 columns no-pad medium-text-center">
		<img ng-src="http://image.tmdb.org/t/p/{{imageSize}}{{movie.poster_path}}" alt="{{movie.title}}"/>
	</div>

	<div class="medium-8 columns">
		<h2 style="display: inline">{{movie.title}} </h2><span>&nbsp ({{movie.release_date | date: 'yyyy-MMMM-d'}})</span>
		<ul class="genre-list no-pad">
			<li ng-repeat="genre in movie.genre_name track by $index">
				<h6>{{genre}},</h6>
			</li>
			<br>
			<li>
				<span rating>{{movie.vote_average}}/10 &nbsp({{movie.vote_count}} votes)</span>
			</li>
		</ul>
		<br><br>
		<h4>Overview<br></h4>
		<p>{{movie.overview}}</p>
		<div ng-repeat="crew in crewes | limitTo:1">
			<h4>{{crew.job}}<br></h4>
			<span>{{crew.name}}</span>
		</div>
		<br>
		<h4>Cast<br></h4>
		<ul class="inline-list small-block-grid-2 small-text-centere medium-block-grid-4 medium-text-left">
			<li ng-repeat="cast in casts | limitTo:4">
				<img ng-src="https://image.tmdb.org/t/p/w185{{cast.profile_path}}" alt="{{cast.profile_path}}"
				onerror="this.src='../images/image-not-found.png'"/>
				<span>{{cast.name}}</span> <br>
				<span>as {{cast.character}}</span>
			</li>
		</ul>
		<button class="button" ng-click="toggleModal()">
			View All
		</button>
		<modal show='modalShown'>
			<ul class="inline-list small-block-grid-2 small-text-centere medium-block-grid-5 medium-text-left">
				<li ng-repeat="cast in casts">
					<img ng-src="https://image.tmdb.org/t/p/w185{{cast.profile_path}}" alt="{{cast.profile_path}}"
					onerror="this.src='../images/image-not-found.png'"/>
					<span>{{cast.name}}</span> <br>
					<span>as {{cast.character}}</span>
				</li>
			</ul>
		</modal>
	</div>
</div>